.content-footer{
  padding: 3% 0 2% 0;
  background-color: #f3cf3c;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  .footer-row{
    display: flex;
    justify-content: center;
    align-items: center;

    a{
      color: #ffffff;
    }
    ul, p{
      margin-bottom: 0;
    }
    .list-inline{
      text-align: right;
      >li{
        display: inline-block;
        padding-right: 5px;
        padding-left: 5px;
        i{
          font-size: 18px;
          background: transparent;
          width: 32px;
          height: 32px;
          padding: 7px 0;
          text-align: center;
          border-radius: 50%;
          border-top-left-radius: 0;
          border: 1px solid transparent;
          color: #ffffff;
          transition: all 0.5s;
        }
      }
    }
  }
}